.venv/
data/*
!data/README.md

output/*
!output/models/
output/models/*
!output/models/final_selected_model.joblib

__pycache__/
*.pyc

.ipynb_checkpoints/
.env
.vscode/
.idea/
.DS_Store
Thumbs.db

# MLflow local tracking data
mlflow.db
mlruns/